/* 内容 */
.content {
  width: 100%;
  margin-bottom: 30%;
}
.content .contentTitle {
  width: 100%;
  height: 4rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  box-sizing: border-box;
}
.content .contentTitle a {
  font-size: 1.4rem;
  color: #222;
}
.content .contentTitle a:first-of-type {
  font-weight: bold;
}
.content .contentTitle span {
  margin: 0 0.5rem;
}
.content form {
  width: 100%;
  position: relative;
  font-size: 1.4rem;
  border-top: 0.1rem solid #DCDCDC;
  border-bottom: 0.1rem solid #DCDCDC;
  background-color: #fff;
}
.content form input {
  width: 100%;
  height: 4.5rem;
  line-height: 4.4rem;
  padding-left: 1.5rem;
  border: none;
  outline: none;
  box-sizing: border-box;
  border-bottom: 0.1rem solid #DCDCDC;
}
.content form label {
  position: absolute;
  top: 0.3rem;
  right: 1.5rem;
  width: 9rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  font-size: 1.4rem;
  color: #666666;
  border: 0.1rem solid #dcdcdc;
}
.content form label:hover {
  cursor: pointer;
}
.content form button {
  display: block;
  margin: 2rem auto;
  width: 95%;
  height: 55px;
  line-height: 1.6rem;
  font-size: 1.8em;
  color: #fff;
  outline: none;
  border: none;
  background-color: #FF8A00;
}
