<<<<<<< HEAD
/* 登录页面 */
*{
    margin: 0;
    padding: 0;
}
html,body{
    font-size: 10px;
    background: #f5f5f5;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
.box{
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
    img{
        width: 100%;

    }
    div{
        position: absolute;
        top: 4.1rem;
        right: 0;
       
        a{
            padding-top: 4rem;
            padding-right: 2rem;
            padding-left: 1rem;
            font-size: 1.4rem;
            color: white;
        }
        &>a:nth-of-type(1){
            background: url(../images/my/urse.png) no-repeat 1.2rem .9rem;
            background-size: 2rem;
        }
        &>a:nth-of-type(2){
            background: url(../images/my/down.png) no-repeat 1.2rem .9rem;
            background-size: 2rem;
        }
    }
    .zj{
        width: 6rem;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    &>a{
        width: 7rem;
        height: 3.5rem;
        font-size: 1.6rem;
        text-align: center;
        line-height: 3.5rem;
        color: #ffffff;
        border: 1px solid #ffffff;
        position: absolute;
        top: 67%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
.buttom{
    width: 100%;
    background-color: white;
    .list{
        width: 100%;
       
        li{
           
                width: 86%;
                margin: 1rem;
                border-bottom: .1rem solid #dcdcdc;
                padding: 1.5rem;
                color: #666;
                font-size: 1.4rem;
                background: url(../images/my/right.png) no-repeat 32rem 1.9rem;
                background-size: .8rem;
            img{
                width: 2rem;
            }
          
           
=======
/* 内容 */
.content {
    width: 100%;
    margin-bottom: 30%;

    .contentTitle {
        width: 100%;
        height: 4rem;
        background-color: #fff;
        display: flex;
        align-items: center;
        padding-left: 1.5rem;
        box-sizing: border-box;

        a {

            font-size: 1.4rem;
            color: #222;

            &:first-of-type {
                font-weight: bold;
            }
        }

        span {
            margin: 0 .5rem;
        }
    }

    form {
        width: 100%;
        position: relative;
        font-size: 1.4rem;
        border-top: .1rem solid #DCDCDC;
        border-bottom: .1rem solid #DCDCDC;
        background-color: #fff;

        input {
            width: 100%;
            height: 4.5rem;
            line-height: 4.4rem;
            padding-left: 1.5rem;
            border: none;
            outline: none;
            box-sizing: border-box;
            border-bottom: .1rem solid #DCDCDC;
        }

        label {
            position: absolute;
            top: .3rem;
            right: 1.5rem;
            width: 9rem;
            height: 3.5rem;
            line-height: 3.5rem;
            text-align: center;
            font-size: 1.4rem;
            color: #666666;
            border: .1rem solid #dcdcdc;

            &:hover {
                cursor: pointer;
            }
        }

        button {
            display: block;
            margin: 2rem auto;
            width: 95%;
            height: 55px;
            line-height: 1.6rem;
            font-size: 1.8em;
            color: #fff;
            outline: none;
            border: none;
            background-color: #FF8A00;
>>>>>>> af9f7fb2610222c01d44ef4075d629f774761a04
        }
    }
}